body {
  margin: 0%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #f4f7f9;
}

.header__top {
  margin-bottom: 45px;
  width: 100%;

  text-align: center;

  background-color: #293449;
}

.header__inner {
  display: flex;
}

.header__logo {
  display: block;
  position: relative;
  width: 220px;
  height: 42px;

  background-color: #ee3643;
}

.header__logo::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 5px;

  background-color: #b52933;
}

.header__logo img {
  padding: 10px 0;
  width: 110px;
}

.header__logo:hover {
  background-color: #ca2c37;
}

.header__logo:active {
  background-color: #ba2732;
}

.search-form {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 42px;
}

.search-form input {
  padding-left: 49px;
  width: 100%;
  min-height: 100%;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search-form input:focus {
  color: #000000;

  background-color: #ffffff;
}

.user-nav__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;

  list-style: none;
}

.user-nav__item {}

.user-link {
  display: block;
  width: 150px;
  padding: 12px 0;
}

.user-link:hover {
  background-color: #212a3a;
}

.user-link:active {
  background-color: #161d29;
}

.user-link--green {
  background-color: #63a63e;
}

.user-link--green:hover {
  background-color: #5fbb2d;
}

.user-link--green:active {
  background-color: #518534;
}

.header__bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header__title {
  width: 220px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header__contacts {
  width: 300px;

  text-align: center;
}

.header__tel {
  display: block;
  padding: 10px 10px;
  width: 264px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.profile-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-left: 0;
  width: 320px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  list-style: none;
}

.profile-nav__item {
  display: block;
  margin-left: 10px;

  background-color: #ffffff;
}

.profile-link {
  display: block;
}

.profile-link:hover {
  color: #ee3643;
}

.profile-link:active {
  color: #000000;

  opacity: 0.3;
}

.site-nav {
  margin: 0 0 60px;
  width: 100%;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;

  border-bottom: 5px solid #293449;
}

.site-nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav__item {}

.site-nav__item a {
  display: block;
  padding: 19px 30px;
}

.site-nav__item a:hover {
  background-color: #293449;
}

.site-nav__item a:active {
  background-color: #1d2739;
}

.popular {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.popular__category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 59px;
  margin-bottom: 0;
  padding-left: 0;

  color: #ffffff;

  list-style: none;
}

.popular__category-item {
  width: 300px;
  height: 123px;
}

.popular__category-item:nth-child(1) {
  background-color: #ffbf47;
}

.popular__category-item:nth-child(2) {
  background-color: #3bbce3;
}

.popular__category-item:nth-child(3) {
  background-color: #dc91d8;
}

.popular__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.popular__stock-list {
  margin: 0;
  padding-left: 0;

  color: #ffffff;

  list-style: none;
}

.popular__stock-item {
  width: 300px;
  height: 123px;
  margin-top: 20px;
}

.popular__stock-item:nth-child(1) {
  background-color: #8ed78f;
}

.popular__stock-item:nth-child(2) {
  background-color: #ffc047;
}

.popular__promo-title {
  display: block;
  margin-top: 20px;
  margin-left: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.popular__promo-title--stock {
  padding-top: 20px;
}

.popular__promo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  margin-top: 13px;
  margin-left: 25px;

  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.popular__promo-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.popular__promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.popular__slider {
  /* position: relative; */

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.popular__slider-list {
  width: 620px;
  height: 268px;
  margin: 0;
  padding: 0;
  /* position: absolute;
  top: -120px;
  left: 0; */

  list-style: none;
}

.popular__slider-item {}

.popular__slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.popular__slider-tabs {}

.popular__slider-button {
  text-transform: uppercase;

  background-color: #ee3643;
}

.control {}

.control--next {}

.control--back {}

.popular__catalog {}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.catalog__item {}

.actions {}

.buy {}

.bookmark {}

.catalog__title {}

.catalog__image {}

.discount {}

.price {}

.new {}

.popular__manufacturers {}

.popular__manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular__manufacturers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 142px;
  margin-top: 20px;

  border: 1px solid #eaeaea;
}

.popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f5f0;
}

.popular__title {
  margin-left: 28px;
  padding: 6px 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.popular__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 38px;
  margin-right: 25px;

  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.services {}

.services__inner {}

.about {
  display: flex;
  justify-content: space-between;
}

.about__content-col {
  width: 600px;
  padding-right: 50px;
}

.about__contacts-col {
  width: 340px;
}

.about__content-list {
  list-style: none;
}

.about__content-item {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about__content-item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer__top {
  width: 100%;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer__logo {
  display: block;
  position: relative;
  width: 220px;
  height: 63px;

  text-align: center;

  background-color: #ee3643;
}

.footer__logo::after {
  content: "";
  position: absolute;
  top: 63px;
  left: 0;
  width: 100%;
  height: 5px;

  background-color: #b52933;
}

.footer__logo img {
  padding-top: 20px;
}

.footer__contacts {
  width: 380px;
  padding: 32px 0 50px 4px;
}

.footer__contacts p {
  margin: 0;
}

.footer__tel {}

.footer__box {}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 36px 0 0 0;
  padding: 0;
  width: 560px;

  list-style: none;
}

.footer__list--top {
  color: #f1f5f7;
}

.footer__list--bottom {
  color: #ffd180;
}

.footer__item {}

.footer__item a {
  display: block;
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__item a:active {
  opacity: 0.5;
}

.footer__bottom {
  width: 100%;

  background-color: #293449;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  display: block;
  width: 230px;
  padding: 20px 0;
}

.footer__box {}

.footer__social {
  width: 360px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-left: 100px;

  list-style: none;
}

.social-item {}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;

  border-radius: 50%;
}

.social-link:hover,
.social-link:active {
  background-color: #ee3643;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
}

.copyright-link {
  color: #ffd180;
}

.copyright-link:hover {
  text-decoration: underline;
}

.copyright-link:active {
  color: #ee3643;
}

.button {
  border-radius: 3%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
